@import url("theme.css");

.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
  width: 12rem
}

.wy-side-nav-search {
  background-color: #eee;
}

.wy-side-nav-search>div.version {
  display: none;
}

.wy-nav-top {
  background-color: #eee;
}

nav.wy-nav-top > a, i.fa-bars {
  color: #404040;  /* this is the body text color */
}
